.navbar {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
  width: 100%;
  bottom: 0;
  overflow: hidden;
  left: 0px;
  border-top: solid rgb(163, 163, 163) 0.3px;
  display: flex;
  text-align: center;
}
