@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #272727;
  color: white;
  text-decoration: none;
}
h5 {
  margin-top: 8vh;
  margin-left: 8vh;
  margin-right: 8vh;
}

h3,
h4 {
  color: white;
  text-decoration: none;
}

.substance {
  text-decoration: none;
  color: white;
}

.App {
  padding: 20px;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.home-logo {
  height: 40vh;

  border-radius: 25%;
  padding: 0.3vh;
}

.edit-icon {
  height: 7vh;

  border-radius: 25%;
  padding: 0.3vh;
  margin: 20px;
}

label {
  margin: 5px;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 6vh;
  margin-right: 6vh;
  text-align: center;
}

select {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 6vh;
  margin-right: 6vh;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 4%;
  border: solid 1px #ba905a;
}

.siempre {
  margin-bottom: 40vh;
}

.user-info {
  background-color: black;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 4%;
  border: solid 1px #ba905a;
}

.substance-img {
  height: 30vh;
}

.card {
  background-color: black;
  border-radius: 4%;
  padding: 5px;
  margin: 10px 30px;
  border: solid 1px #ba905a;
}

.substance-card {
  background-color: black;
  border-radius: 4%;
  padding: 5px 20px;
  margin: 10px 10px;
  border: solid 1px #ba905a;
  text-align: left;
}

.transparent {
  background-color: transparent;
}

.history-img {
  height: 20vh;
}