html,
body {
  font-family: "Red Hat Text", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(38, 38, 38);
  color: white;
  text-decoration: none;
}

.substance {
  text-decoration: none;
  color: white;
}

.App {
  padding: 20px;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}
